%p#notice= notice
.text
  %h1.pos=@conference.title
  %p=@conference.description
  .speeches_conf
    -if @conference.speeches.any?
      %h2 Speeches
      -@conference.speeches.all.each do |speech|
        %p
          =link_to(speech.title, speech, target: "_blank")
          , by
          =link_to(" #{speech.user.account.f_name} #{speech.user.account.l_name}",
            account_path(speech.user.account))
  %p
    -if @conference.start_date<@conference.finish_date
      ="#{@conference.start_date.day}-#{@conference.finish_date.to_formatted_s(:rfc822) }"
    -else
      =@conference.start_date.to_date.to_formatted_s(:rfc822)
  %p=@conference.place
-# =link_to @conference.avaliable ? "make unchecked" : "make checked", make_checked_conference_path(@conference),
-#   remote: true, data: {id: 'make_checked'}
-if @conference.user == current_user
  = link_to 'Edit', edit_conference_path(@conference), class: "btn btn-primary"
.panel-body{style: "overflow: auto;"}
  =form_tag(send_email_conference_path(@conference), method: :get, style: "padding-top: 15px;") do
    =label_tag "Send request email to the conference organizator"
    =text_area_tag :email_text,nil, class: "form-control", placeholder: "Please enter additional info to the email organizator. Pleace notice that your email and personal info will be included already."
    =submit_tag "Send request email", class:"btn btn-primary"
