%p#notice= notice
%h1 Listing Speeches
%p sasdf
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @speeches.each do |speech|
      %tr
        %td= link_to 'Show', speech
        %td= link_to 'Edit', edit_speech_path(speech)
        %td= link_to 'Destroy', speech, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Speech', new_speech_path
