%p#notice= notice
%h1{style: "font-family: 'Times New Roman', Times, serif; font-weight: bold; text-shadow: 2px -2px 1px darkblue"} All speeches
.col-lg-3.sidenav
  .panel.panel-default.text-left{style: "border-style: solid"}
    .panel-heading
      %h1 Filter
    .panel-body{style: "overflow: auto;"}
      = form_tag({controller: "speeches", :action => :index}, method: :get) do
        = label_tag "Filter by city:"
        = select_tag "place", options_for_select(City.pluck(:name), params[:place]), class: "form-control", prompt: "Select all" 
        = label_tag "Filter by theme:"
        = select_tag "theme", options_for_select(Theme.pluck(:name, :id), params[:theme]), class: "form-control", prompt: "Select all"
        %div
          = check_box_tag 'sort_by_theme', params[:sort_by_theme], params[:sort_by_theme], style: "width: 15px; height: 15px;"
          Sort by Theme
        %div
          = check_box_tag 'sort_by_title', params[:sort_by_title], params[:sort_by_title], style: "width: 15px; height: 15px;"
          Sort by Title
        %div
          = check_box_tag 'sort_by_city', params[:sort_by_city], params[:sort_by_city], style: "width: 15px; height: 15px;" 
          Sort by City
        %div
          = check_box_tag 'sort_by_date', params[:sort_by_date], params[:sort_by_date], style: "width: 15px; height: 15px;" 
          Sort by Date
        .panel-footer
          = submit_tag "Submit", class: "btn btn-default", style: "margin: auto; width: 100%; font-weight: bold;"
.col-lg-9
  %table.table.table-hover
    %thead
      %tr
        %th Conference
        %th Theme
        %th Title
        %th Description
        %th Place
        %th Date
        %th Image
        %th Video
    %tbody
      - @speeches.each do |speech|
        %tr
          / - if speech.conference.nil?
          /   %td
          / - else
          /   %td= link_to speech.conference.title, "#"
          %td
            =link_to(speech.conference.title, conference_path(speech.conference)) unless speech.conference.nil?



          / %td
          / -speech.conference.each do |conference|
          /   %p
          /     =link_to(conference.title,conference)
          %td= speech.theme.name unless speech.theme.nil?
          %td= link_to speech.title, speech 
          %td= speech.description
          %td= speech.place
          %td= speech.date.to_date
          %td= image_tag speech.image, height: '50' unless speech.image
          %td= raw speech.video
= link_to 'Create new Speech', new_speech_path, class: "btn btn-success"