%p#notice= notice

.show-speeches
  .container-fluid
    .row
      .col-md-12{class: "title"}
        %h2 Speeches
    .row
      .col-lg-4.col-sm-4.col-md-4{class: "sidenav filter"}
        .panel.panel-default
          .panel-heading.text-center
            %h3 Filter
          .panel-body
            = form_tag({controller: "speeches", :action => :index}, method: :get) do
              = label_tag "Filter by city:"
              = select_tag "place", options_for_select(Speech.distinct.pluck(:place), params[:place]), class: "js-select-city form-control", include_blank: true, multiple: true
              = label_tag "Filter by theme:"
              = select_tag "theme", options_for_select(Theme.pluck(:name, :id), params[:theme]), class: "js-select-theme form-control", include_blank: true, multiple: true
              .box
                = check_box_tag 'sort_by_theme', params[:sort_by_theme], params[:sort_by_theme]
                Sort by Theme
              .box
                = check_box_tag 'sort_by_title', params[:sort_by_title], params[:sort_by_title]
                Sort by Title
              .box
                = check_box_tag 'sort_by_date', params[:sort_by_date], params[:sort_by_date]
                Sort by Date
              .panel-footer
                .row
                  .col-md-6
                    = submit_tag "Search", class: "btn btn-primary"
                  .col-md-6
                    .btn.btn-default= link_to "Clear search", speeches_path

      .col-lg-8.col-sm-8.col-md-8{class: "list"}
        .row
          .col-md-12{class: "text"}
            %p#some
              %i Here you can see all speeches, that are available.
        - @speeches.each do |speech|
          .row.item-list
            .col-md-3.col-sm-4.col-xs-4{class: "foto"}
              .flex-container
                = link_to "", speech_path(speech), class: "flex-item--avatar", style: "background-image: url(#{speech.image});"
            .col-md-9.col-sm-8.col-xs-8{class: "profile"}
              .panel-default
                .panel-body
                  %h3.speech-title= link_to "#{speech.title}", speech_path(speech)
                  %h5
                    = link_to "by #{speech.user.account.f_name} #{speech.user.account.l_name}", account_path(speech.user.account), class: "flex-item--by-user"
                .panel-footer
                  %strong{style: "float:left"} Conference:
                  %span= "#{speech.conference.title unless speech.conference.nil?} |"
                  %strong Date:
                  %span= speech.date.strftime("%d/%m/%Y")
                  %span.theme= speech.theme.name unless speech.theme.nil?
    .paginate_pos= paginate @speeches, :theme => 'twitter-bootstrap-3'
