%p#notice= notice
%h1 Listing Speeches
%table.table.table-hover
  %thead
    %tr
      %th Title
      %th Description
      %th Place
      %th Date
      %th Image
      %th Video
      %th{:colspan => "3"}
  %tbody
    - @my_speeches.each do |speech|
      %tr
        %td= speech.title
        %td= speech.description
        %td= speech.place
        %td= speech.date.to_date
        %td= image_tag speech.image, height: '50'
        %td= raw speech.video
        %td= link_to 'Show', speech
        %td= link_to 'Edit', edit_speech_path(speech)
        %td= link_to 'Destroy', speech, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Speech', new_speech_path