%p#notice= notice


Title:
= @speech.title
%br
Description:
= @speech.description
%br
Place:
= @speech.place
%br
Date:
= @speech.date.to_date
%br
Image:
= image_tag @speech.image
%br
Video:
= raw @speech.video
%br

= link_to 'Edit', edit_speech_path(@speech)
|
= link_to 'Back', speeches_path
