%p#notice= notice
.speech
	.container-fluid
		.row
			.col-md-12{class: "title"}
				%h2= "'#{@speech.title}'"

		/* User */
		.row
			.col-md-3.col-sm-3.col-xs-3{class: "foto"}
				.flex-container
					= link_to "", account_path(@speech.user.account), class: "flex-item--avatar", style: "background-image: url(#{@speech.user.account.image});"
					.flex-item--name= "#{@speech.user.account.f_name} #{@speech.user.account.l_name}"
				- if current_user == @speech.user
					.row
						.col-md-12{style: "text-align: center"}
							.row
								.profile_button= link_to "Edit speech", edit_speech_path(@speech), class: "btn btn-primary"
							.row
								.profile_button= link_to "Destroy speech", speech_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
			/* Profile */
			.col-md-9.col-sm-9.col-xs-9{class: "profile"}
				%h2= "Conference: #{ @speech.conference.title unless @speech.conference.nil? }"
				.row.margin_left
					.col-md-6
						%h4
							Place and date:
							%br
							%i{class: "fa fa-map-marker"}
							= @speech.place
							= @speech.date.strftime("%d/%m/%Y")
					.col-md-6
						%h4.pull-right
							Theme:
							= @speech.theme.name if @speech.theme
				.imagef{style: "background-image: url('#{@speech.image}')"}
				%h4.margin_left Description:
				%p.margin_left= @speech.description
				.video
					= youtube_video(@speech.video) if @speech.video
				%br

				/* Add comments */
				%h4
					= link_to "Comments", "#", id: "comments-link"
				.section#coments-section
					.form
						= form_for([@speech, @speech.comments.build], remote: true) do |comment|
							.form-group.comment-input
								= comment.text_area :description, autofocus: true, class: "form-control", placeholder: "Write some comment..."
							.form-group
								= comment.submit "POST Comment", class: "btn btn-primary"
					#comments
						= render @comments
