%p#notice= notice
.speech
	.container-fluid
		.row{style: "border: 1px solid red"}
			.col-md-12{class: "title"}
				%h2= "'#{@speech.title}'"
		.row
			.col-md-3.col-sm-3.col-xs-3{class: "foto", style: "border: 1px solid red"}
				.flex-container
					.flex-item--avatar{style: "background-image: url(#{@speech.user.account.image});"}
					.flex-item--name= "#{@speech.user.account.f_name} #{@speech.user.account.l_name}"
					/ .flex-item--view-speech.btn.btn-primary  View profile
			.col-md-9.col-sm-9.col-xs-9{class: "profile", style: "border: 1px solid red"}
				%h2 Conference
				%h4
					%i{class: "fa fa-map-marker"}
					Conference place and date
				/= image_tag @speech.image
				.imagef{style: "background-image: url('#{@speech.image}')"}
				%h3 Description
				%p= @speech.description
				%h2 Video


/ .flex-container
/ 	.flex-item--name= "#{user.account.f_name} #{user.account.l_name}"
/ 	.flex-item--avatar{style: "background-image: url(#{user.account.image})"}
/ 	.flex-item--view-prof.btn.btn-primary View profile















/ %p#notice= notice
/ .text-center
/ 	.thumbnail{style: "padding: 0 0 15px 0; border: none; border-radius: 0; align: left"}
/ 		= image_tag @speech.image, class: "img-thumbnail"
/ 		%p
/ 		%strong Title: 
/ 		= @speech.title
/ 		%p
/ 		%strong Description:
/ 		= @speech.description
/ 		%p
/ 		%strong Place:
/ 		= @speech.place
/ 		%p
/ 		%strong Date:
/ 		= @speech.date.to_date
/ 		%p
/ 			%strong Video:
/ 		= raw @speech.video

/ = link_to 'Back', speeches_path, class: "btn btn-primary"
/ = link_to 'Edit', edit_speech_path(@speech), class: "btn btn-info"
/ = link_to 'Destroy', speech_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
