%nav.navbar.navbar-fixed-top.navbar-inverse
  .container-fluid
    .navbar-header
      %ul.nav.navbar-nav
        %li=link_to('Speakerhub',root_path,class: 'navbar-brand')
        %li=link_to('Speakers','#')
        %li=link_to('Conferences',conferences_path)
        %li=link_to('My speeches','#')
        %li=link_to('My conferences',my_conferences_conferences_path)
        %li=link_to('Create conference', new_conference_path)
    %ul.nav.navbar-nav.navbar-right
      %li= link_to "Home", root_path
      %li= link_to "Help", help_path
      - if user_signed_in?
        %li= link_to('My account',account_path(current_user.account))
        %li= link_to('Logout', destroy_user_session_path, :method => :delete)
      - else
        %li= link_to('Login', new_user_session_path)
