%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      =full_title(yield(:title))
      | Speakerhub
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %body
      -if flash[:alert]
        =content_tag(:div, flash[:alert], class: "alert alert-danger")
      = render 'layouts/header'
      .container
        = yield
        = render 'layouts/footer'
        %br
        = debug(params) if Rails.env.development?
