.account
  .row
    .col-lg-3.sidenav
      .panel.panel-default
        .panel-heading{style: "border-style: none"}
          %h3 Filter
        .panel-body{style: "overflow: auto;"}

          =form_tag(accounts_path, method: :get) do
            =label_tag "Search user"
            =text_field_tag :f_name, nil, class: "form-control"
            =submit_tag "search", class: "btn btn-default"
          -Theme.all.each do |theme|
            %p=link_to theme.name, accounts_path(@account, theme: theme.id)
          %p=link_to 'Show all',accounts_path
    .col-lg-9.active-users
      %h1 Speakers list
    - @accounts.each do |account|
      .col-lg-3.col-sm-6
        .flex-container
          .flex-item--name= "#{account.f_name} #{account.l_name}"
          = link_to "", account_path(account), class: "flex-item--avatar", style: "background-image: url(#{account.image})"

  .paginate_pos=paginate @accounts, :theme => 'twitter-bootstrap-3'
