#requests_table
-if @unanswered_requests.any?
  %table.table
    %h2 Requests pending answer
    %thead
      %tr
        %th Conference
        %th Conference organizator
        %th Message sent with request
        %th Request status
    -@unanswered_requests.each do |request|
      %tbody
        %tr.warning
          %th=link_to("#{request.conference.title}", conference_path(request.conference))
          %th=link_to("#{request.conference.user.account.f_name} #{request.conference.user.account.l_name}", account_path(request.conference.user.account))
          %th=request.message
          %th=request.created_at
          %th=request.status
          %th=request.answer
          %th=link_to('Destroy request', conference_request_path(request.conference, request) , :method => :delete, :data => { :confirm => 'Are you sure?' })
-if @answered_requests.any?
  %table.table
    %h2 Answered requests
    %thead
      %tr
        %th Conference
        %th Conference organizator
        %th Message sent with request
        %th Date created
        %th Request status
        %th Answer sent with request
        %th Updated at
    -@answered_requests.each do |request|
      %tbody
      -if request.accepted?
        %tr.success
          %th=link_to("#{request.conference.title}", conference_path(request.conference))
          %th=link_to("#{request.conference.user.account.f_name} #{request.conference.user.account.l_name}", account_path(request.conference.user.account))
          %th=request.message
          %th=request.created_at.strftime("%m.%d.%y %H:%M")
          %th Accepted
          %th=request.answer
          %th=request.updated_at.strftime("%m.%d.%y %H:%M")
      -if request.declined?
        %tr.danger
          %th=link_to("#{request.conference.title}", conference_path(request.conference))
          %th=link_to("#{request.conference.user.account.f_name} #{request.conference.user.account.l_name}", account_path(request.conference.user.account))
          %th=request.message
          %th=request.created_at
          %th Declined
          %th=request.answer
