.account
  .row
    .col-md-3.col-xs-12.nopadding
      %h1.pos="#{@account.f_name} #{@account.l_name}"
      -# %p.account_themes
      -#   ="#{@account.user.themes.pluck(:name).to_sentence}"
      -if @account.image.file
        =image_tag @account.image.show, class: "img"
      -if current_user == @account.user
        %br
          = link_to 'Edit account info', edit_account_path(@account), class: "btn btn-primary"
          = link_to 'Edit user info', edit_user_registration_path(current_user), class: "btn btn-primary"
    .col-md-5.col-xs-12.nopadding
      %table.account_info
        %tr.color-tr
          %th Email:
          %th=@account.user.email
        %tr.color-tr
          %th Themes:
          %th=@account.themes.pluck(:name).to_sentence
        -if @account.city
          %tr.color-tr
            %th Home city:
            %th=@account.city.name
        -if element_present?(@account.phone)
          %tr.color-tr
            %th Phone number:
            %th=@account.phone
        -if element_present?(@account.facebook_account)
          %tr.color-tr
            %th Facebook account:
            %th=link_to("#{@account.facebook_account}".split('/')[3],
            @account.facebook_account, :target => "_blank")
        -if element_present?(@account.skype_account)
          %tr.color-tr
            %th Skype:
            %th=@account.skype_account
    .col-md-4.col-xs-12.nopadding
      .additional_infos
        -if element_present?(@my_speeches)
          #paginate_speech
            =render 'my_speeches', my_speeches: @my_speeches
          #paginate_conf
            =render 'my_conferences', my_conferences: @my_conferences
          -# .paginate_pos
          -#   #paginator
          -#     =paginate @my_speeches, :param_name => 'page_1', remote: true
          -# =render @my_conferences
